<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <defaultDocument enabled="true">
         <files>      
            <clear/>
            <add value="index.html" />
			<add value="index.cshtml" />
			<add value="index.asp" />
			<add value="default.asp" />
         </files>
      </defaultDocument>
      <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File" >
         <remove statusCode="500" />
         <error statusCode="500" path="erros/500.html" />
       </httpErrors>
   </system.webServer>
</configuration>