<h2>
    A Triunfo
</h2>
<p>
    Desde 1.999 oferecendo palestras e treinamentos para prefeituras, sindicatos e associações, assumimos a missão de preparar melhor os profissionais da próxima geração para enfrentar a competição do mercado de trabalho.
</p>
<div class="service grid _nowrap">
    <div class="cell _1of3 _centered">
    	<img src="{{site.baseurl}}/img/parcerias.svg" alt="">
        <p class="service-title">Parcerias</p>
    </div>
    <div class="cell _1of3 _centered">
    	<img src="{{site.baseurl}}/img/palestras.svg" alt="">
        <p class="service-title">Palestras</p>
    </div>
    <div class="cell _1of3 _centered">
    	<img src="{{site.baseurl}}/img/cursos.svg" alt="">
        <p class="service-title">Cursos</p>
    </div>
</div>
<h2>
    Meta Brasil
</h2>
<p>
    Parceira da Triunfo, oferece serviços como cursos abertos e in company, assessoria permanente ao cliente e diagnóstico da produção, consultoria empresarial, recuperação de crédito e defesa de malha fina do Imposto de Renda.
</p>
